# Don't accidentally add the large reference data files to git
*.mtx
*.tsv
*.csv
*.h5ad
*.h5seurat
*.Rds

# Generated data
data/

# Profiling outputs
*.prof

# Annoy index files
*.annoy

# Results from this case study
results/
